MSCIBarra_EquityIndex/core_eafe_daily/CORE_DM_EAFE_COUNTRY_FXRATE_DAILY_D.xsd

<?xml version='1.0' encoding='UTF-8'?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:D_5F="http://xml.mscibarra.com/ns/msci/deal/D_5F" targetNamespace="http://xml.mscibarra.com/ns/msci/deal/D_5F" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="package_D_5F"><xs:complexType><xs:sequence><xs:element name="dataset_D_5F"><xs:complexType><xs:sequence><xs:element name="entry" minOccurs="1" maxOccurs="unbounded"><xs:complexType><xs:attribute name="calc_date" use="required"><xs:annotation><xs:appinfo>Calculation Date</xs:appinfo></xs:annotation><xs:simpleType><xs:restriction base="xs:date"></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="ISO_currency_symbol" use="required"><xs:annotation><xs:appinfo>ISO Currency Symbol</xs:appinfo></xs:annotation><xs:simpleType><xs:restriction base="xs:string"><xs:maxLength value="3"></xs:maxLength></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="spot_fx_eod00d" use="required"><xs:annotation><xs:appinfo>Spot FX Rate</xs:appinfo></xs:annotation><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="15"></xs:fractionDigits></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="forward_fx_30_eod00d"><xs:annotation><xs:appinfo>Forward FX Rate 1 month</xs:appinfo></xs:annotation><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="15"></xs:fractionDigits></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="covering_cost"><xs:annotation><xs:appinfo>Covering Cost</xs:appinfo></xs:annotation><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"></xs:fractionDigits></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>
